/* NAV */

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --white-color: #f7f6fb;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}


body {
  position: relative;
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: calc(var(--nav-width) + 2rem);
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  background-color: #FDF5EA;
  transition: 1s;
  max-width: 100vw;
}


header {
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  background-color: #184552;
  z-index: 1000;
  transition: 1s;
}


.header_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 32px;
}

.header_img {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 247, 221);
}

.header_intials{
  font-weight: bolder;
}

.header_logo {
  width: auto;
  height:50px
}

.header_icon{
  color: white;

}

.item-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: green;
}

.dropdown-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: inherit;
  padding: 0;
}

.dropdown-menu {
  background-color: #FDF5EA;
  border: 1px solid #184552;
  border-radius: 0.25rem;
  top:23px !important;
}


.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: #184552;
  padding: 1rem 1rem 0 0;
  transition: 1s;
  z-index: 1000;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.header_toggle,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}


.nav_link {
  position: relative;
  color: #FDF5EA;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}


#nav-content ul {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

@media screen and (min-width:660px){
.show {
  width: calc(var(--nav-width) + 156px);
}

.body-pd {
  padding-left: calc(var(--nav-width) + 70px)
}

.header-pd{
  padding-left: calc(var(--nav-width) + 170px);
}
}

@media screen and (max-width:660px){
.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.notifications{
  display: none;
}

header{
  justify-content: center;
}

.header_logo{
  height: 45px;
}

}

.active {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.253);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* //////////// */

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;
}
.container .row .card {
  width: 300px;
  height: 350px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.205);
  overflow: hidden;
  border-top: 1px solid rgba( 255, 255, 255, 0.18 );
  border-left: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 1px 1px 1px 1px rgba( 12, 66, 79, 0.37 );
  border-radius: 15px;
  
}
.container .row .card .card-body {
  padding: 1rem 1.2rem;
  color: rgb(0, 0, 0);
}
.container .row .card .card-body .card-img lottie-player {
  width: 150px;
  height: 150px;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .row .card .card-body .name {
  transform: translateY(50px);
  margin-bottom: 20px;
  transition: 0.5s;
}
.container .row .card .card-body .card-info {
  font-size: 0.9rem;
  transform: translateY(10px);
  transition: 0.5s;
  opacity: 0;
}
.container .row .card:hover .card-body .card-info,
.container .row .card:hover .card-body .name,
.container .row .card:hover .card-body .card-img lottie-player {
  transform: translateY(0px);
  opacity: 1;
}

